{% extends "layout.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="page-container">

    <h1>Welcome to Taskly 💜</h1>
    <p>Hello, {{ session.get("username") }}! Here is your task summary.</p>

    <div class="cards">

        <div class="card">
            <i class="fa-solid fa-list-check"></i>
            <h3>Total Tasks</h3>
            <p>{{ total_tasks }}</p>
        </div>

        <div class="card">
            <i class="fa-solid fa-circle-check"></i>
            <h3>Completed</h3>
            <p>{{ completed_tasks }}</p>
        </div>

       

    </div>

    <div class="actions">
        <a href="{{ url_for('tasks') }}" class="btn-link">View Tasks</a>
        <a href="{{ url_for('add_task') }}" class="btn-link">Add Task</a>
    </div>

</div>

{% endblock %}