{% extends "layout.html" %}

{% block title %}Profile{% endblock %}

{% block content %}

<div class="profile-card">

    <div class="profile-top">
        <div class="profile-avatar">
            <i class="fa-solid fa-user"></i>
        </div>

        <h1>User Profile</h1>
        <p>Manage your personal information</p>
    </div>

    <div class="profile-info">

        <div class="info-row">
            <i class="fa-solid fa-user"></i>
            <div>
                <span>Username</span>
                <strong>{{ user["username"] }}</strong>
            </div>
        </div>

        <div class="info-row">
            <i class="fa-solid fa-envelope"></i>
            <div>
                <span>Email</span>
                <strong>{{ user["email"] }}</strong>
            </div>
        </div>

    </div>

    <a href="#" class="profile-btn">
        <i class="fa-solid fa-pen"></i>
        Edit Profile
    </a>

</div>

{% endblock %}