{% extends "layout.html" %}

{% block title %}Tasks{% endblock %}

{% block content %}

<div class="calendar-page">

    <div class="calendar-header">
        <h1>My Tasks</h1>

        <a href="{{ url_for('add_task') }}" class="add-task-btn">
            + Add Task
        </a>
    </div>

    <div class="calendar">

        {% if tasks %}

            {% for task in tasks %}

                <div class="day">
                    <span class="date">
                        {{ task["due_date"] }}
                    </span>

                    <a href="{{ url_for('task_details', task_id=task['id']) }}"
                       class="task
                       {% if task['priority'] == 'High' %} high {% endif %}
                       {% if task['status'] == 'Completed' %} done {% endif %}">
                        {{ task["title"] }}
                    </a>
                </div>

            {% endfor %}

        {% else %}

            <p>No tasks yet.
             Add your first task 💜</p>

        {% endif %}

    </div>

    <div class="notes-box">
        <h2>
            <i class="fa-solid fa-note-sticky"></i>
            Notes
        </h2>

        <textarea placeholder="Write your notes here..."></textarea>
    </div>

</div>

{% endblock %}